@model LogicaAplicacion.Dtos.Clientes.ClienteDto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>ClienteDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.razonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.razonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciudad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.distancia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.distancia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Volver a la lista</a>
</div>
