@model IEnumerable<LogicaAplicacion.Dtos.Clientes.ClienteDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Clientes</h1>

@if (@ViewBag.Mensaje != null)
{
    <div class="alert alert-danger pt-3 pb-4" role="alert">
        <p>@ViewBag.Mensaje</p>
    </div>
}

<form class="row g-3" asp-action="Index" method="get">
    <div class="mb-3 col-6">
        <label for="searchMonto" class="form-label">Buscar por monto</label>
        <input type="number" class="form-control" name="monto" id="searchMonto" placeholder="Ingrese Monto">
    </div>
    <div class="col-6 mt-2">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<form class="row g-3" asp-action="Index" method="get">
    <div class="mb-3 col-6">
        <label for="searchRs" class="form-label">Buscar por Razon Social</label>
        <input type="text" class="form-control" name="rs" id="searchRs" placeholder="Ingrese Razon Social">
    </div>
    <div class="col-6 mt-2">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.razonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.razonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rut)
            </td>
            <td>
                    @Html.ActionLink("Details", "Details", new { Id = item.Id }, new { @class = "btn btn-dark m-1" })
            </td>
        </tr>
}
    </tbody>
</table>
